
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Method</th>
          <th>To</th>
          <th>Date Submitted</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.ID }}</td>
          <td>{{ transaction['AD Package'] }}</td>
          <td>{{ transaction['For Listing'] }}</td>
          <td>{{ transaction['End Date'] }}</td>
          <td>{{ transaction.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
