
@import 'ngx-toastr/toastr';

.toast-success {
  background-color: #28a745 !important;
}

.toast-error {
  background-color: #dc3545 !important;
}
.toast-container {
    z-index: 9999 !important;
  }
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #5a4cd4;
  
    .login-box {
      background: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 100%;
      max-width: 400px;
  
      h2 {
        margin-bottom: 10px;
        font-size: 24px;
      }
  
      p {
        color: gray;
        font-size: 14px;
      }
  
      form {
        .input-group {
          position: relative;
          margin: 15px 0;
  
          input {
            width: 100%;
            padding: 10px 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
            outline: none;
            margin: auto;
          }
  
          i {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: black;
          }
        }
  
        .btn {
          width: 90%;
          padding: 10px;
          border: none;
          background: #6c5ce7;
          color: white;
          font-size: 16px;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.3s;
        }
      
  
        .btn:hover {
          background: #5a4cd4;
        }
      }
  
     
    }
    .error {
        color: red;
        font-size: 14px;
        margin-top: 5px;
        display: block;
      }
  
   
}

button i {
    font-size: 20px;
  }

  .input-group.file-input {
    text-align: center;
    margin-top: 15px;

    .file-label {
        display: flex;
        padding: 10px 20px;
        background: #6c5ce7;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        margin: auto;
    }

    .file-label:hover {
        background: #5a4cd4;
    }

   
}
.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px; // مسافة بين الصورة والحقول
  margin-bottom: 15px; // مسافة بين الصورة والزر
  
  img {
      width: 120px; // جعل الصورة بحجم مناسب
      height: 120px;
      border-radius: 50%; // جعلها دائرية
      object-fit: cover; // قص الصورة بحيث تكون متناسقة
      border: 3px solid #6c5ce7; // إضافة إطار بنفس لون التصميم
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}
  
  /* Responsive Design */
  @media (max-width: 500px) {
    .login-box {
      width: 90%;
      padding: 20px;
    }
  }
  