<div class="slider-container">
    <button class="slider-btn prev" (click)="moveSlide(-1)">
      <i class="bi bi-chevron-left"></i>
    </button>
  
    <div #slider class="slider">
      <div *ngFor="let tour of tours; let i = index" 
           class="tour-card" 
           [class.active]="i === activeIndex">
        
        <span class="tour-count">{{ tour.count }} TOURS</span>
  
        <!-- أيقونة Bootstrap بدل الصورة -->
        <i class="my-2" [class]="tour.icon"></i>
  
        <h1 class="fw-bold">{{ tour.title }}</h1>
        <p>{{ tour.description }}</p>
      </div>
    </div>
  
    <button class="slider-btn next" (click)="moveSlide(1)">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>