.navbar {
  background-color: white !important;
  padding: 10px 20px;

  .logo {
    height: 30px;
  }

  .nav-link {
    color: black;
    font-weight: 500;
    margin: 0 10px;
    transition: color 0.3s ease;

    &:hover {
      color: #18458B;
    }
  }

  .dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;

    .dropdown-item {
      color: black;
      &:hover {
        background-color: #f8f9fa;
      }
    }
  }

  .profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }

  .navbar-toggler {
    border: none;
  }

  @media (max-width: 992px) {
    .navbar-collapse {
      background-color: white;
      padding: 10px;
      text-align: center;
    }
    

    .navbar-nav {
      flex-direction: column;
    }

    .nav-item {
      width: 100%;
    }

    .d-flex.align-items-center {
      flex-direction: column;
      align-items: center !important;
    }
  }
}
