.navbar {
  background-color: #18458B !important;

  .logo {
    height: 25px;
  }

  .flag-icon {
    width: 20px;
    height: 15px;
    margin-right: 5px;
  }

  .nav-link {
    color: white ;
    display: flex;
    align-items: center;
    gap: 5px;
    
  }


  .btn-info {
    background-color: #3ea2ff;
    border: none;

    &:hover {
      background-color: #2680d4;
    }
  }

  .nav-item {
    position: relative;
    margin: 10px;
  
    .cart-icon,
    .wishlist-icon {
      font-size: 1.5rem; // تكبير الأيقونات
      position: relative;
    }
  
    .cart-badge,
    .wishlist-badge {
      position: absolute;
      top: 2px;
      right: 0;
      transform: translate(50%, -50%);
      font-size: 0.7rem;
      padding: 3px 6px;
      border-radius: 50%;
      min-width: 18px;
      text-align: center;
    }
  
    .cart-badge {
      background-color: red;
      color: white;
    }
  
    .wishlist-badge {
      background-color: red;
      color: white;
    }
  }
  .dropdown-menu li .dropdown-item{
    color: white ;
     
  }

  .dropdown-menu {
    background-color: #18458B;
  }

  @media (max-width: 992px) {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      right: 0;
      width: 75%;
      background-color: #18458B;
      padding: 0 10px;
      text-align: right;
      box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
  
    .navbar-nav {
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
    }
  
    .nav-item {
      width: 100%;
      padding: 3px 0;  /* تقليل المسافة بين العناصر */
      margin: 0;  /* إزالة الهوامش */
    }
  
    .nav-link {
      display: block;
      padding: 10px 10px; /* تقليل المسافة داخل الرابط */
      color: white !important;
      gap: 5px; /* تقليل المسافة بين عناصر العملة واللغة */

    }
  
    .d-flex.align-items-center {
      flex-direction: column;
      align-items: flex-end !important;
      padding:0; /* تقليل المسافة داخل الرابط */
      gap: 5px; /* تقليل المسافة بين عناصر العملة واللغة */
    }
  }
  
}
