<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- اللوجو في المنتصف -->
    <a class="navbar-brand mx-auto" routerLink="/">
      <img src="assets/sabba.png" alt="Logo" class="logo">
    </a>

    <!-- زر القائمة الجانبية في الشاشات الصغيرة على اليمين -->
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- القائمة -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/classical-tours">Tour List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/day-trips">Day Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blogPosts">Blog</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Info</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/about">About Us</a></li>
            <li><a class="dropdown-item" routerLink="/contact">Contact</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- أيقونات الحساب -->
    <div class="d-flex align-items-center ms-auto">
      <a class="nav-link mx-2" routerLink="/profile">
        <img src="assets/user1jpg.jpg" alt="Profile" class="profile-img">
      </a>
    </div>
  </div>
</nav>
