.container{
  width: 90%;
  margin: auto;
}
.stats {
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }
  
  .stat-card {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  
  .stat-card:hover {
    transform: translateY(-5px);
  }
  
  .stat-card h4 {
    font-size: 18px;
    font-weight: bold;
    color: #2D60FF;
  }
  
  .stat-card h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .stat-card fa-icon {
    font-size: 28px;
    color: #2D60FF;
  }
  
  .chart-container {
    margin: 40px 0;
    padding: 15px;
    width: 90% !important;
    height: 400px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .chartSelect{
  }
  .ngx-charts-line-chart {
    height: 100% !important;
  }
  
  .chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .chart-header select {
    margin-left: 20px !important; 

    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    font-size: 14px;
    cursor: pointer;
  }
  
  .chart-header select:hover {
    background-color: #e0e0e0;
  }
  
  .activities {
    margin-top: 25px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  
  .recent-activities, .history {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 55%;
  }
  
  @media (max-width: 768px) {
    
    .dashboard {
      margin-top: 60px;
      margin-left: 40px;
      width: calc(100% - 60px);
      overflow-x: hidden;
    }
  
    .stats {
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 20px;
    }
  
    .stat-card {
      width: 70%;
    }
  
    .chart-container {
      width: 70% !important;
      height: auto;
      margin-left: 40px;
    }
  
    .activities {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .recent-activities, .history {
      width: 70%;
    }
  }
  