.history-section {
  margin: 0 auto;
  margin-top: 45px;
  padding: 2rem;
  font-family: 'Arial', sans-serif;
  position: relative;
  max-width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between; /* يجعل الزرارين على اليمين */
  align-items: center;
  margin-bottom: 1.5rem;
}

.slider-controls {
  display: flex;
  gap: 10px;
}

.slider-btn {
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  transition: 0.3s;
}

.slider-btn:hover {
  background: #007bff;
  color: white;
}

.slider-container {
  width: 100%;
}

.items-container {
  display: flex;
  gap: 1rem;
  transition: transform 0.5s ease-in-out;
}

.item-card {
  min-width: 300px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.item-card:hover .item-image {
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
}

.item-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.item-title {
  padding: 1rem;
  margin: 0;
  color: #34495e;
  font-size: 1.4rem;
  font-weight: 500;
}
