<div class="booking-container">
    <h2 class="title">My Booking</h2>

    <div class="booking-content">
        <!-- الجزء الأيمن: يحتوي على الصورة والزر -->
      

        <!-- الجزء الأيسر: يحتوي على معلومات المستخدم -->
        <div class="user-info">
            <div class="user-header">
                <img src="assets/bookedProfile.jpg" class="avatar" alt="User Avatar">
            </div>
            <h3 class="username">Yousef Orabi</h3>
            <p><strong>Listing Item :</strong> Ramses II Temple 'Ramesseum', Luxor Day Trip</p>
            <p><strong>Persons :</strong> 1 People</p>
            <p><strong>Booking Date :</strong> 5-3-2025</p>
            <p><strong>Mail :</strong> sabatourscom.com</p>
            <p><strong>Phone :</strong> 0101515189</p>
            <div class="buttons">
                <button class="cancel">Canceled</button>
                <button class="delete">Delete</button>
            </div>
        </div>
        <div class="booking-right">
            <button class="status">Your booked</button>
            <img src="assets/myBooking.jpg" alt="Booking Image" class="booking-img">
        </div>
    </div>
</div>
