<div class="recent-tours">
    <div class="allBtns d-flex justify-content-between align-items-center">
        <div class="filter-buttons">
            <button (click)="filter('Paid')">
              Paid Booking
              <span class="badge" [ngClass]="'paid'">{{ getCount('Paid') }}</span>
            </button>
            <button (click)="filter('Canceled')">
              Canceled Booking
              <span class="badge" [ngClass]="'canceled'">{{ getCount('Canceled') }}</span>
            </button>
            <button (click)="filter('Deleted')">
              Deleted Booking
              <span class="badge" [ngClass]="'deleted'">{{ getCount('Deleted') }}</span>
            </button>
            <button (click)="filter('Pending')">
              Pending Booking
              <span class="badge" [ngClass]="'pending'">{{ getCount('Pending') }}</span>
            </button>
          </div>
          
          <div>
            <button class="addBtn" routerLink="/dashboard/add-new-booking" >Add New Booking</button>
          </div>
    </div>
    <h2>Recent Tours:</h2>

    <div *ngIf="filteredBooking.length === 0">
        <p class="no-results-message">No {{ currentFilter }} bookings available.</p>
      </div>

    <div *ngFor="let tour of filteredBooking" class="tour-card">
        <div class="tour-header">
            <div class="user-info">
                <img [src]="tour.userImage" alt="User Image" class="user-image">
                <h1>{{ tour.username }}</h1>
            </div>
            <div class="contact-info">
                <p> <span>Phone:</span>{{ tour.phone }}</p>
                <p><span>Email:</span> {{ tour.email }}</p>
            </div>
            <div class="booking-info">
                <p> <span>Booking Date:</span>{{ tour.bookingDate }}</p>
                <p><span>Tour Type</span>{{ tour.tourType }}</p>
            </div>
            <div class="price-info">
                <p><span>Price:</span> {{ tour.price }}</p>
            </div>
        </div>

        <div class="detail-image">
            <div class="tour-details">
                <p><span>Status: </span><span [ngStyle]="{'color': tour.status === 'Paid' ? 'green' : 'red'}">{{ tour.status }}</span></p>
                <p><span>Tour Name:</span> {{ tour.tourName }}</p>
                <p><span>Guests:</span> {{ tour.guests }}</p>
                <p><span>Duration:</span> {{ tour.duration }}</p>
                <p><span>Tour Start:</span> {{ tour.tourStart }}</p>
            </div>
    
            <div class="tour-image">
                <img [src]="tour.imageUrl" alt="Tour Image">
            </div>
        </div>

        <div class="tour-actions">
            <button (click)="acceptTour(tour)">Accept</button>
            <button (click)="cancelTour(tour)">Cancel</button>
            <button (click)="deleteTour(tour)">Delete</button>
        </div>
    </div>
</div>
