
<app-main-home></app-main-home>
<app-home-cara></app-home-cara>


<app-history-explore></app-history-explore>


<section class="videos-section" (click)="navigateToReels()">
  <div class="overlay"></div>
  <div class="play-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="blue">
      <path d="M8 5v14l11-7z" />
    </svg>
  </div>
  <h2>Watch More Reels</h2>
</section>




<!-- featured now -->

<app-featured></app-featured>




<app-more-packages></app-more-packages>




<!-- tourss -->

<app-tourss></app-tourss>

<!-- Testimonials From comments -->


<app-testimonials></app-testimonials>






<!-- why  -->
<!-- <app-why-saba></app-why-saba> -->


<!-- app come -->

<!-- <section class="app-section">
    <div class="app-content">
      <h2>Our App Coming Soon!</h2>
      <p>
        We're excited to announce that the SabaTours mobile app is launching soon!
        Get ready to explore Egypt like never before with just a few taps on your phone.
      </p>
      <div class="app-buttons">
        <button class="btn apple"><i class="bi bi-apple"></i> For Apple</button>
        <button class="btn android"><i class="bi bi-android"></i> For Android</button>
      </div>
    </div>
  
    <div class="app-image">
        <img src="assets/api.webp" alt="App Preview">
    </div>
  </section> -->



<!-- looking -->

<!-- <div class="looking-section">
  <div class="looking-content">
    <h2>Looking for Tours in Egypt?</h2>
    <p>
      Egypt is a land of wonder, where ancient history meets breathtaking landscapes and vibrant culture. Whether you're exploring the majestic Pyramids of Giza, cruising the Nile River, or diving in the crystal-clear waters of the Red Sea, SabaTours has the perfect experience for you!
    </p>
    <div class="looking-buttons">
      <button class="btn-primary">Register Now <i class="bi bi-arrow-right"></i></button>
      <button class="btn-secondary">Login Your Account <i class="bi bi-arrow-right"></i></button>
    </div>
  </div>
</div> -->

<!-- blog -->

<app-blog></app-blog>

<section class="fooetr-section">
  <div class="overlay"></div>

  <h2>Feel real adventure and very<br> close to nature</h2>
  <button class="explore-btn">Contact Us</button>
</section>


