<section class="hero-section">
    <div class="overlay"></div>

    <div class="hero-content">
        <h1>Egypt Travel, Explore the History</h1>
        <p>Find Egypt Tours & Travel Packages.</p>

        <div class="search-box">
            <div class="search-item">
              <i class="bi bi-geo-alt location-icon px-2" (click)="getUserLocation()"></i>
              <input type="text" placeholder="Hotel, City...">
            </div>
            <div class="search-item">
              <i class="bi bi-calendar location-icon px-2" (click)="openDatepicker(datepicker)"></i>
              <input matInput [matDatepicker]="datepicker" placeholder="Select Date" [formControl]="dateControl">
                <mat-datepicker #datepicker></mat-datepicker>
            </div>
            <div class="search-item">
              <i class="bi bi-person location-icon px-2"></i>
              <select>
                    <option>Persons</option>
                    <option>1 Person</option>
                    <option>2 Persons</option>
                    <option>3+ Persons</option>
                </select>
            </div>
            <button class="search-btn">
                Search
                <i class="bi bi-search px-2 location-icon"></i>
              </button>
        </div>
    </div>
</section>

<!-- tourss -->

<app-tourss></app-tourss>


<!-- featured now -->

<app-featured></app-featured>



  <!-- why  -->
<app-why-saba></app-why-saba>


  <!-- app come -->

  <section class="app-section">
    <div class="app-content">
      <h2>Our App Coming Soon!</h2>
      <p>
        We're excited to announce that the SabaTours mobile app is launching soon!
        Get ready to explore Egypt like never before with just a few taps on your phone.
      </p>
      <div class="app-buttons">
        <button class="btn apple"><i class="bi bi-apple"></i> For Apple</button>
        <button class="btn android"><i class="bi bi-android"></i> For Android</button>
      </div>
    </div>
  
    <div class="app-image">
        <img src="assets/api.webp" alt="App Preview">
    </div>
  </section>


  <!-- Testimonials From Our Clients -->


  <app-testimonials></app-testimonials>
  <!-- looking -->

  <div class="looking-section">
  <div class="looking-content">
    <h2>Looking for Tours in Egypt?</h2>
    <p>
      Egypt is a land of wonder, where ancient history meets breathtaking landscapes and vibrant culture. Whether you're exploring the majestic Pyramids of Giza, cruising the Nile River, or diving in the crystal-clear waters of the Red Sea, SabaTours has the perfect experience for you!
    </p>
    <div class="looking-buttons">
      <button class="btn-primary">Register Now <i class="bi bi-arrow-right"></i></button>
      <button class="btn-secondary">Login Your Account <i class="bi bi-arrow-right"></i></button>
    </div>
  </div>
</div>

<!-- blog -->

<app-blog></app-blog>


  
  