<div class="overview">
    <button class="create-btn">+ Create new Ad</button>

    <div class="packages">
        <div class="package-card silver">
          <h4>Silver Package</h4>
          <p>Total ads used: <strong>99</strong></p>
          <p>Subscribed users: <strong>28</strong></p>
          <p>Canceled users: <strong>7</strong></p>
        </div>
        <div class="package-card gold">
          <h4>Gold Package</h4>
          <p>Total ads used: <strong>985</strong></p>
          <p>Subscribed users: <strong>76</strong></p>
          <p>Canceled users: <strong>18</strong></p>
        </div>
        <div class="package-card platinum">
          <h4>Platinum Package</h4>
          <p>Total ads used: <strong>5,585</strong></p>
          <p>Subscribed users: <strong>158</strong></p>
          <p>Canceled users: <strong>35</strong></p>
        </div>
        <div class="package-card business">
          <h4>Business Package</h4>
          <p>Total ads used: <strong>20,285</strong></p>
          <p>Subscribed users: <strong>966</strong></p>
          <p>Canceled users: <strong>190</strong></p>
        </div>
      </div>
      
  <!-- قسم الفلاتر -->
  
  <div class="filters">
  
    <button class="btn">Bulk Actions ▼</button>
    <button class="btn btn-primary">Apply</button>
    <div class="d-flex align-items-center">
      <label class="me-1" for="start">Start Date:</label>
      <input type="date" id="start" placeholder="Start Date" />
    </div>
    <div class="d-flex align-items-center">
      <label class="me-1" for="end">End Date:</label>
      <input type="date" id="end" placeholder="End Date" />
    </div> <button class="btn btn-primary">Filter</button>
    <button class="btn btn-primary">Export to CSV</button>
    <button class="btn">Show / Hide columns</button>
  </div>
  
  
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><input type="checkbox"></th>
          <th>ID</th>
          <th>Ad Package</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Ad of Ads">
          <td class="checkbox-cell"><input type="checkbox" /></td>
          <td>{{Ad.ID}}</td>
          <td [class]="getPackageClass(Ad['Ad Package'])">
            {{ Ad['Ad Package'] }}
          </td>
          <td>{{ Ad['Start Date']}}</td>
          <td>{{ Ad['End Date']}}</td>
          <td>{{ Ad.amount }}</td>
          <td [class]="getStatusClass(Ad.status)">
            {{ Ad.status }}
          </td>
        </tr>
        
      </tbody>
      <tfoot>
        <tr>
            <td colspan="7" class="table-footer">
                <div class="entries-info">Showing 1 to 10 of 472 entries</div>

            </td>
        </tr>
    </tfoot>
  
 
    </table>

  </div>