<div class="user-management">
    <div class="header">
        <div class="left-section">
            <div class="customer">
                <span>All Users</span>
                <strong>{{usersCount}}</strong>
            </div>
            <div class="customer">
                <span>Customer</span>
                <strong>1,950</strong>
            </div>
        </div>

        <div class="right-section">
            <button class="create-btn">+ Create New User</button>
            <input type="text" placeholder="Search for user..." [(ngModel)]="searchTerm" />
        </div>
    </div>


    <div class="allUsers">

        <div class="filter-buttons">
            <button (click)="filterUsers('all')">All Customers</button>
            <button (click)="filterUsers('active')">All Employees</button>
            <button (click)="filterUsers('blocked')">Block Users</button>
            <button (click)="filterUsers('pending')">Pending Users</button>
            <button (click)="filterUsers('deleted')">Deleted Users</button>
        </div>

        <div class="user-cards">
            <div *ngFor="let user of filteredUser" class="user-card">
                <div class="user-info">
                    <img [src]="user.image" alt="User Image" class="user-image" />
                    <p>{{ user.name }}</p>
                    <span>{{ user.email }}</span>
                    <span>{{ user.joinDate }}</span>
                </div>
                <div class="icons">
                    <i class="bi bi-chat-dots"></i>
                    <i class="bi bi-x-circle"></i>
                </div>
            </div>
        </div>

    </div>

    <button class="see-more">See more</button>
</div>