<button class="toggle-btn" (click)="toggleSidebar()">
  <i [class]="isOpen ? 'bi-x-lg' : 'bi-list'"></i>
</button>

<aside class="sidebar" [ngClass]="{'collapsed': isCollapsed, 'open': isOpen}">
  <div class="sidebar-logo">
    <img src="assets/sabba.png" alt="Logo">
  </div>

  <ul>
    <li *ngFor="let item of menuItems" [ngClass]="{'active': isActive(item.route)}" (click)="sendTitle(item.label)">
      <a [routerLink]="item.route">
        <i [class]="item.icon"></i>
        <span class="menu-text">{{ item.label }}</span>
      </a>
    </li>
  </ul>

  <!-- زر العودة للصفحة الرئيسية -->
  <button class="backToHome" *ngIf="!isCollapsed">
    <a href="/">Back To Home Page</a>
  </button>

  <!-- أيقونة الهوم عند تصغير الـ Sidebar -->
  <button class="backToHomeIcon" *ngIf="isCollapsed" (click)="goHome()">
    <i class="bi bi-house-door-fill"></i>
  </button>
</aside>
