<section class="featured-tours">
  <div class="header">
    <h2>Featured Egypt Tours</h2>
    <p>Discover the magic of Egypt with our top-rated tours!</p>
  </div>

  <div class="categories">

    <div 
    class="category "
    [class.active]="activeCategory === 'all'"
    (click)="showAllTours()">
    View All
  </div>
    <div 
      class="category" 
      [class.active]="activeCategory === 'Guide Tours'"
      (click)="filterTours('Guide Tours')">
      Guide Of Egypt
    </div>
    <div 
      class="category"
      (click)="filterTours('Classical Tours')">
      Classical Tours
    </div>
    <div 
      class="category"
      [class.active]="activeCategory === 'day'"
      (click)="filterTours('day')">
      Day Trips
    </div>
   
  </div>

  <div class="tours-grid">
    <div class="tour-card" *ngFor="let tour of filteredTours">
      <div class="tour-image">
        <img [src]="tour.image" [alt]="tour.title">
        <div class="tour-type-badge" [ngClass]="'type-' + tour.type">
          {{ getTypeName(tour.type) }}
        </div>
      </div>
      <div class="tour-content">
        <div class="tour-header">
          <div class="location-rating">
            <h3>{{tour.location}}</h3>
            <div class="rating">
              <span class="star-icon">★</span>
              <span class="rating-value">{{tour.rating}}</span>
            </div>
          </div>
          <div class="subtitle">{{tour.subtitle}}</div>
        </div>
        <div class="tour-details">
          <div class="duration">{{tour.duration}}</div>
          <div class="group-size">{{tour.groupSize}}</div>
        </div>
        <div class="price-section">
          <div class="price">Starting from: {{tour.price}}</div>
          <button class="book-now">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
