<div class="tours-container">
    <div class="tour-card" *ngFor="let tour of tours">
      <img [src]="tour.image" alt="Tour Image" class="tour-image" />
      <div class="tour-details">
        <h3>{{ tour.title }}</h3>
        <p>
          <i class="bi bi-geo-alt-fill location-icon"></i>
          {{ tour.location }}
        </p>
        <div class="buttons">
          <button class="edit-btn">Edit</button>
          <button class="delete-btn">Delete</button>
        </div>
      </div>
    </div>
  </div>
  