.container{
    background-color: #FFFFFF;
    width: 90%;
    margin: auto;
}
input[type="file"] {
    display: none;
  }
  
  .form-check-label {
    margin-left: 10px;
  }
  

  .sele{
    margin-top: 35px;
  }