.recentComment {
  width: 85%;
  margin: 16px auto;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 25px;
  background-color: #f9f9f9;
}

.comments-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap;
}

h1 {
  color: #2D60FF;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.filter-buttons button {
  background-color: #2D60FF;
  border: none;
  color: white;
  padding: 8px 25px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.titleDeletedBtn{
  display: flex;
  justify-content: space-between;
}
.comment-card {
  width: 70%;
  position: relative;
  background-color: #2D60FF;
  color: white;
  border-radius: 15px;
  padding: 20px 20px 40px 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.avatar {
  position: absolute;
  top: -25px;
  left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
}

.comment-content {
  margin-top: 10px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: -10px;
}

.actions .d-flex {
  gap: 5px;
}
.icon-btn {
  background-color: #2D60FF;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
}
.delete {
  background-color: #fff !important;
  color: black !important;
  padding: 8px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 8px;
}

.delete:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.trash-icon {
  width: 20px;
  height: 20px;
  fill: #0D62E2;
}

.reply-btn {
  background-color: #2D60FF;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
}
.see-more {
  margin: 20px auto;
  background-color: #2D60FF;
  color: white;
  padding: 8px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  text-align: center;
}

/* استجابة للأجهزة اللوحية */
@media (max-width: 768px) {
  .titleDeletedBtn{
    display: block;
    margin-bottom: 15px;
  }
  .comment-card {
    width: 90%;
    padding: 15px 15px 30px 15px;
  }

  .comments-container {
    gap: 20px;
  }

  .filter-buttons {
    flex-direction: column;
    gap: 15px;
  }
}

/* استجابة للأجهزة الصغيرة (الهاتف المحمول) */
@media (max-width: 480px) {
  .comment-card {
    width: 100%;
    padding: 10px 10px 20px 10px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    top: -20px;
    left: -20px;
  }

  .icon-btn {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .filter-buttons button {
    padding: 8px 15px;
  }

  .recentComment {
    width: 95%;
  }
}