<!-- 
<div class="filter-buttons">
  <button (click)="filter('Guide Of Egypt')">Guide Of Egypt</button>
  <button (click)="filter('Classical Tours')">Classical Tours</button>
  <button (click)="filter('Day Of Trips')">Day Of Trips</button>
</div> -->

<div class="recentComment">
  

<!-- <div class="titleDeletedBtn"> -->
  <h1>Comment for All Tours</h1>
  <!-- <button class="delete" (click)="filter('Deleted Comments')">
    <svg class="trash-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
      fill="currentColor">
      <path
        d="M9 3V4H4V6H5V19C5 20.1046 5.89543 21 7 21H17C18.1046 21 19 20.1046 19 19V6H20V4H15V3H9ZM7 6H17V19H7V6ZM9 8V17H11V8H9ZM13 8V17H15V8H13Z" />
    </svg> 
    
    Deleted Tours
  </button>
</div> -->
  
<div class="comments-container" *ngFor="let comment of comments">
  
  <div class="comment-card" >
    <img [src]="comment.user.profilePicture" class="avatar" alt="User">
    <div class="comment-content">
      <h3>{{ comment.user.name }}</h3>
      <p>"{{ comment.content }}"</p>
    </div>
  </div>
  <div class="actions">
    <div class="d-flex">
      <button class="icon-btn">&#128172;</button> <!-- Chat icon -->
      <button class="icon-btn">&#10006;</button> <!-- Close icon -->
    </div>
    <button class="reply-btn">↩ Reply</button>
  </div>
</div>


<!-- <button class="see-more" >
  See more
</button> -->
</div>