.dashboard {
  margin-top: 70px;
  margin-left: 200px;
  padding: 20px;
  width: calc(100% - 200px);
  background-color: #F5F7FA;
  transition: margin-left 0.3s, width 0.3s;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar.collapsed + .dashboard {
  margin-left: 60px;
  width: calc(100% - 60px);
}

@media (max-width: 768px) {
  .dashboard {
  margin-top: 60px;

    margin-left: 62px;
    width: calc(100% - 65px);
    padding: 15px;
  }
}
