<section class="testimonials-section py-5">
    <div class="">
      <div class="text-center mb-5">
      </div>
  
      <div class="testimonials-slider">
        <div class="testimonial-card" *ngFor="let testimonial of testimonials; let i = index" [class.active]="i === activeIndex">

          <div class="testimonial-content">
            <img src="assets/annnncientjpg.jpg" alt="{{testimonial.author}}" class="author-image">
  
            <div class="text-content">
        <h2 class="section-title">What They Are Say!</h2>

              <div class="rating">
                <span *ngFor="let star of [1,2,3,4,5]" [class.filled]="star <= testimonial.rating">★</span>
              </div>
              <p class="comment">{{ testimonial.comment }}</p>
              <div class="author-info">
                <strong>{{ testimonial.author }}</strong>
                <div class="position">{{ testimonial.position }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- نقاط التنقل -->
      <div class="dots-container">
        <span *ngFor="let testimonial of testimonials; let i = index" class="dot" [class.active]="i === activeIndex" (click)="setActiveIndex(i)"></span>
      </div>
    </div>
  </section>
  